.platform {
    height: 100vh;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-box {
    display: flex;
    align-items: baseline;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    gap: 0.5em;
}
.access {
    gap: 0.4em;
    display: flex;
    flex-direction: column;
}

#oris-status {
    color: rgb(255, 145, 145);
}