body {
    background-color: rgb(24, 24, 24);
}

.platform_body {
    display: flex;
    flex: 1;
}

.platform_content_add_paper {
    display: flex;
    flex: 1;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.file_settings {
    & {
        background-color: rgb(36, 36, 36);
        padding: 1em;
        border-radius: 5px;
        display: flex;
        gap: 1em;
        flex-direction: column;
    }
    .row {
        display: flex;
        gap: 1em;
    }
}