body {
    background-color: rgb(24, 24, 24);
}

.platform_body {
    display: flex;
    flex: 1;
}

.platform_content_paper {
    display: flex;
    flex: 1;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}
